html {
  animation: fadeIn 0.5s ease-in-out;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #fcf6f5;
}

header {
  background: white;
  color: #1F242C;
  text-align: center;
  padding-top: 30px;
}

nav {
  background: #1F242C;
  color: white;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "Hobo Std";
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav li a:hover {
}

a {
  color: black;
}

a:hover {
  color: #1F242C;
}

nav a, footer a {
  color: white;
}

nav a:hover, footer a:hover {
  color: #CCCCCC;
}

footer {
  background: #1F242C;
  color: white;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.overview {
  background: #F5E3CC;
  color: #1F242C;
  min-height: 33vh;
}

.services {
  background: #ff9a36;
  color: #333333;
  min-height: 33vh;
}

.team {
  background: #93bfb0;
  color: #FFFFFF;
  min-height: 33vh;
}

.clients {
  background: #f4e2cc;
  color: #1F242C;
  min-height: 33vh;
}

.contact {
  background: #ff9a36;
  color: #FFFFFF;
  min-height: 66vh;
}

.dashboard {
  background: #f4e2cc;
  color: #1F242C;
}

.dashboard button {
/*  background: #ff9a36;*/
/*  color: #1F242C;*/
}

.dashboard hr {
  align: center;
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #1F242C;
  margin: auto;
  padding: 0;
  width: 33%;
}

.gallery {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.profile {
  text-align: center;
  margin-top: 10px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  width: 66vw;
  height: 66vw;
}

.flash-messages {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flash-messages li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.flash-messages .error {
  background-color: #df685820;
  color: #df6858;
}

.flash-messages .success {
  background-color: #32d74b20;
  color: #32d74b;
}

@font-face {
  font-family: "Hobo Std";
  src: url("/static/fonts/HoboStd.otf") format("truetype");
}

.entity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Checkbox Input */
input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #1F242C;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:hover {
  background-color: #1F242C20
}

.checkbox.checked {
  background-color: #1F242C;
}

/* Inner Square Color */
.checkbox.checked::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: 4px;
  background-color: #1F242C;
  border-radius: 2px;
}

