{% set active_page = "booking" %}
{% if booking %}
  {% set content_header = "Booking " + booking.id | string %}
  {% set form_action = url_for('booking_bp.update', booking_id=booking.id) %}
  {% set form_submit = "Update" %}
{% else %}
  {% set content_header = "Bookings" %}
  {% set form_action = url_for('booking_bp.add') %}
  {% set form_submit = "Add" %}
{% endif %}
{% extends "admin/base.html" %}

{% block content %}
<div class="container content">

  <div class="content-header">
    <div class="row">
      <div class="twelve columns">
        <h2>{{ content_header }}</h2>        
      </div>
    </div>
  </div>

  <div class="shiftable panel"> 
    <form action="{{ form_action }}" method="POST">
      {{ form.csrf_token }}
      <div class="row">
        <div class="six columns">
          {{ form.customer_id.label() }}
          {{ form.customer_id(class_="u-full-width") }}
        </div>
        <div class="six columns">
          {{ form.service_id.label() }}
          {{ form.service_id(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          {{ form.date.label() }}
          {{ form.date(class_="u-full-width") }}
        </div>
        <div class="six columns">
          {{ form.time.label() }}
          {{ form.time(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <button type="submit">
            {{ form_submit }}
          </button>
        </div>
      </div>
    </form>
    {% if booking %}
      <button onclick="window.location.href='{{ url_for('booking_bp.get') }}'">Cancel</button>
    {% endif %}
  </div>

  {% if upcoming_bookings or previous_bookings %}
    <br>
    <hr>
    <br>
    <button class="active" id="upcoming-radio" type="radio">Upcoming</button>
    &nbsp;
    <button id="previous-radio" type="radio">Previous</button>
    <br>
    <!-- Show upcoming and past bookings -->
    <div id="upcoming-bookings">
      <!-- { for (date, day_of_week, number_of_bookings, total_price), bookings in upcoming_bookings.items() %} -->
      {% for (date, day_of_week), bookings in upcoming_bookings.items() %}
        <div class="record">
          <div class="record-header">
            <div class="record-header-left">
              <b>{{ day_of_week | upper }} {{ date }}</b>
            </div>
            <div class="record-header-right">
              <!-- <b>{ number_of_bookings }} bookings</b> -->
              <!-- &nbsp; -->
              <!-- <b>{ "£%0.2f" | format(total_price | float) }}</b> -->
            </div>
          </div>
          {% for booking in bookings %}
            <div class="record-details">
              <div class="">
                <b>{{ booking.time.strftime("%I:%M %p") }}</b>
              </div>
              <div class="record-details">
                {{ booking.customer.dogs[0].name | safe }} {{ booking.service.name | safe }}
              </div>
              <div class="record-actions">
                <div class="record-actions-update">
                  <button onclick="window.location.href='{{ url_for('booking_bp.get', booking_id=booking.id) }}'" type="submit">
                    Update
                  </button>
                </div>
                <div class="record-actions-delete">
                  <form
                    action="{{ url_for('booking_bp.delete', booking_id=booking.id) }}"
                    method="POST"
                    onsubmit="return confirm('Are you sure you want to delete this booking?');"
                  >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <!-- Previous bookings -->
    <div id="previous-bookings" style="display: none;">
      {% for booking in previous_bookings %}
        <div class="record">
          <!-- Record Info -->
          <div class="record-header">
            <div class="record-header-left">
              <b>Booking {{ booking.id }}</b>
            </div>
            <div class="record-header-right">
              <b>{{ booking.date }} {{ booking.time.strftime("%I:%M %p") }}</b>
            </div>
          </div>
          <!-- Record Details -->
          <div class="record-details">
            {{ booking.customer.dogs[0].name | safe }}
            <br>
            {{ booking.service.name | safe }}
          </div>

          <div class="record-actions">
            <div class="record-actions-update">
              <button
                onclick="window.location.href='{{ url_for('booking_bp.get', booking_id=booking.id) }}'"
                type="submit"
              >
                Update
              </button>
            </div>
            <div class="record-actions-delete">
              <form
                action="{{ url_for('booking_bp.delete', booking_id=booking.id) }}"
                method="POST"
                onsubmit="return confirm('Are you sure you want to delete this booking?');"
              >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit">
                  Delete
                </button>
              </form>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>
  {% endif %}
  <br>
  <br>
</div>
{% endblock %}

{% block scripts %}
<script>
  const upcomingRadio = document.getElementById('upcoming-radio');
  const previousRadio = document.getElementById('previous-radio');
  const upcomingDiv = document.getElementById('upcoming-bookings');
  const previousDiv = document.getElementById('previous-bookings');

  upcomingRadio.addEventListener('click', () => {
    upcomingRadio.classList.toggle("active");
    previousRadio.classList.toggle("active");
    upcomingDiv.style.display = 'block';
    previousDiv.style.display = 'none';
  });

  previousRadio.addEventListener('click', () => {
    upcomingRadio.classList.toggle("active");
    previousRadio.classList.toggle("active");
    upcomingDiv.style.display = 'none';
    previousDiv.style.display = 'block';
  });
</script>
{% endblock %}
