<div class="container">
  <div class="row">
    <div class="twelve columns">
      <a href="{{ url_for('verify_sign_up_bp.get') }}" class="{% if active_page == 'verify-sign-up' %}active{% endif %}">
        <i class="fa-solid fa-badge-check"></i>&nbsp;Verify Sign Up
      </a>
      <a href="{{ url_for('customer_bp.get') }}" class="{% if active_page == 'customer' %}active{% endif %}">
        <i class="fa-solid fa-users"></i>&nbsp;Customers
      </a>
      <a href="{{ url_for('dog_bp.get') }}" class="{% if active_page == 'dog' %}active{% endif %}">
        <i class="fa-solid fa-dog"></i>&nbsp;Dogs
      </a>
      <a href="{{ url_for('dog_breed_bp.get') }}" class="{% if active_page == 'dog_breed' %}active{% endif %}">
        <i class="fa-solid fa-list"></i>&nbsp;Dog Breeds
      </a>
      <a href="{{ url_for('vet_bp.get') }}" class="{% if active_page == 'vet' %}active{% endif %}">
        <i class="fa-solid fa-hospital"></i>&nbsp;Vets
      </a>
      <a href="{{ url_for('expense_bp.get') }}" class="{% if active_page == 'expenses' %}active{% endif %}">
        <i class="fa-solid fa-cart-shopping"></i>&nbsp;Expenses
      </a>
      <a href="{{ url_for('service_bp.get') }}" class="{% if active_page == 'service' %}active{% endif %}">
        <i class="fa-solid fa-gear"></i>&nbsp;Services
      </a>
      <a href="{{ url_for('booking_bp.get') }}" class="{% if active_page == 'booking' %}active{% endif %}">
        <i class="fa-solid fa-book"></i>&nbsp;Bookings
      </a>
      <a href="{{ url_for('invoice_bp.get') }}" class="{% if active_page == 'invoice' %}active{% endif %}">
        <i class="fa-solid fa-file-invoice"></i>&nbsp;Invoices
      </a>
      <a href="{{ url_for('auth_bp.sign_out') }}"><i class="fa-solid fa-file-invoice"></i>&nbsp;Sign Out {{ current_user.name }}</a>
    </div>
  </div>
</div>
