<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="Content-Language" content="en-us" />
      <meta name="description" content="'W4lkies' is a bespoke dog walking service based in Chiswick, West London, W4. A dedicated and reliable small team of dog walkers, offering solo dog walks. Interested in a walk then book your free meet-and-greet today!"/>
      <link rel="canonical" href="https://www.w4lkies.com"/>
      <meta property="og:title" content="W4lkies | dog walker in Chiswick, London, W4"/>
      <meta property="og:description" content="'W4lkies' is a bespoke dog walking service based in Chiswick, West London, W4. A dedicated and reliable small team of dog walkers, offering solo dog walks by the hour. Interested in a walk then book your free meet-and-greet today!"/>
      <meta property="og:image" content="https://w4lkies.com/static/img/logo.png"/>
      <meta property="og:image:width" content="2500"/>
      <meta property="og:image:height" content="1330"/>
      <meta property="og:url" content="https://www.w4lkies.com"/>
      <meta property="og:site_name" content="W4lkies"/>
      <meta property="og:type" content="website"/>
      <link rel="apple-touch-icon" href="/static/img/logo.png">
      <meta name="apple-mobile-web-app-title" content="W4lkies">
      <title>W4lkies</title>
      <link rel="shortcut icon" href="/static/img/favicon.ico">
      <link rel="stylesheet" href="/static/css/vendor/Skeleton-2.0.4/css/normalize.css">
      <link rel="stylesheet" href="/static/css/vendor/Skeleton-2.0.4/css/skeleton.css">
      <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>

    <!-- flash messages -->
    {% block flash_messages %}
      {% include "flash_messages.html" %}
    {% endblock flash_messages %}

    <!-- header -->
    <header>
      <div class="row">
        <div class="twelve columns">
            <a href="{{ url_for('index_bp.get') }}">
              <img src="/static/img/logo.png" alt="Logo" class="logo">
            </a>
        </div>
      </div>
      <br>
      <br>
    </header>

    <!-- navigation -->
    {% block navbar %}{% endblock navbar %}

    <!-- main content -->
    <content>
      {% block content %}{% endblock content %}
    </content>

    <!-- footer -->
    {% block footer %}
      <footer>
        <br>
        <div class="row">
          <div class="twelve columns">
            © 2024 London W4lkies Ltd. All rights reserved.
            <br>
            <br>
          </div> 
        </div> 
        <div class="row">
          <div class="four columns">
            <h4>Contact</h4>
            <ul>
              <li>E-mail: <a href="mailto:hello@w4lkies.com">hello@w4lkies.com</a></li>
              <li>Phone: <a href="tel:{{ config['WEBSITE_TELEPHONE'] }}">{{ config["WEBSITE_TELEPHONE"] }}</a></li>
            </ul>
          </div> 
          <div class="four columns">
            <h4>Boring</h4>
            <ul>
              <li>Legal: <a href="{{ url_for('legal_bp.get') }}">Privacy & Cookies</a></li>
              <li>Site Map: <a href="{{ url_for('index_bp.sitemap') }}">Our site map</a></li>
            </ul>
          </div>
          <div class="four columns">
              <h4>Social</h4>
              <ul>
                <li>Instagram: <a href="https://www.instagram.com/w4lkies/" target="_blank">@w4lkies</a></li>
                <li>Nostr: Coming soon™</li>
                <li>Github: <a href="https://github.com/ajrlewis/w4lkies_app" target="_blank">w4lkies_app</a></li>
              </ul>
          </div> 
        </div> 
        <br>
      </footer>
    {% endblock footer %}

    {% block scripts %}{% endblock scripts %}

  </body>
</html>
