<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="Content-Language" content="en-us" />
      <meta name="description" content="'W4lkies' is a bespoke dog walking service based in Chiswick, West London, W4. A dedicated and reliable small team of dog walkers, offering solo dog walks. Interested in a walk then book your free meet-and-greet today!"/>
      <link rel="canonical" href="https://www.w4lkies.com"/>
      <meta property="og:title" content="W4lkies | dog walker in Chiswick, London, W4"/>
      <meta property="og:description" content="'W4lkies' is a bespoke dog walking service based in Chiswick, West London, W4. A dedicated and reliable small team of dog walkers, offering solo dog walks by the hour. Interested in a walk then book your free meet-and-greet today!"/>
      <meta property="og:image" content="https://w4lkies.com/static/img/logo.png"/>
      <meta property="og:image:width" content="2500"/>
      <meta property="og:image:height" content="1330"/>
      <meta property="og:url" content="https://www.w4lkies.com"/>
      <meta property="og:site_name" content="W4lkies"/>
      <meta property="og:type" content="website"/>
      <link rel="apple-touch-icon" href="/static/img/logo.png">
      <meta name="apple-mobile-web-app-title" content="W4lkies">

  <title>W4lkies</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/vendor/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/static/css/vendor/Skeleton-2.0.4/css/skeleton.css">

  <style type="text/css">

  :root {

    /*Primary brand color, used for main call to actions, logos, etc.*/
    --primary: #93bfb0;
    --primary-light: #b3d2c7;
    --primary-dark: #73ac99;
    --primary-content: #1f342d;

  /*Secondary
  #9b93bf
  Secondary Content
  #231f34
  Secondary Light
  #b9b3d2
  Secondary Dark
  #7d73ac*/

  /* Base colors are for backgrounds and borders. Copy colors are for text.*/
    --foreground: #fbfbfb;
    --background: #F5E3CC;
    --border: #dde2e0;

  /* Utility colors denote intention, such as deleting an account.*/
  --success: #93bf93;
  --success-content: #1f341f;
  --warning: #bfbf93;
  --warning-content: #34341f;
  --error: #bf9393;
  --error-content: #341f1f;
  }


.gallery {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

  /* Skeleton overrides */
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: var(--primary-content);
    background-color: var(--primary);
    border-color: var(--primary); }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: var(--primary-content);
    background-color: var(--primary-dark);
    border-color: var(--primary-dark); }

  </style>

  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>
<body>

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">
          Fully insured dog caring & walking services based in Chiswick, London, W4.
          </h4>
          <a class="button button-primary" href="mailto:hello@w4lkies.com?subject=Arrange a meet and greet!">Book you free meet and greet!</a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="/static/img/logo-transparent-background.png">
          <img class="phone" src="/static/img/logo-transparent-background.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <h1>About US</h1>
      <div class="row">
        Hi there, my name is Sophia and I'm the owner of W4lkies, a  <span>small and independent dog caring and walking business</span> based in Chiswick, <span>London, W4</span>.
      </div>
      <br>
      <div class="row">
        My team and I absolutely love dogs and have a lot of experience working with them. 
        We're passionate about providing a <span>safe and enjoyable experience</span> for every dog in our care.
        That's why we are <span>fully insured</span> for your peace of mind.
      </div>
      <br>
    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h1 class="section-heading">Our Services</h1>
      <p class="section-description">We provide 1-hour services from <span>Monday to Friday</span>, with two time slots available: <span>AM (8am to 12pm) and PM (12pm to 6pm)</span>. We aim to schedule your preferred time within a 1-hour range of your chosen slot.</p>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        {% for service in services %}
          <div class="four columns">
            <img src="/static/img/service-{{ service.name }}.png" width="300px" height="300px">
            <br>
            <br>
            <h2>{{ service.name }}</h2>
            <h3>{{ "£%0.2f" | format(service.price | float) }}</h3>
            <p>{{ service.description }}</p>
            <a class="button button-primary" href="mailto:hello@w4lkies.com?subject=Book a {{ service.name }}!">Book now!</a>
          </div>
        {% endfor %}
        <div class="four columns">
          <img src="/static/img/service-Bespoke.png" width="300px" height="300px">
          <br>
          <br>
          <h2>Bespoke</h2>
          <h3>Flexible pricing and duration based on your needs</h3>
          <p>We offer bespoke services for your dog(s) to suit your needs.
            From pop-in visits to at-home enrichment games, we've got your pup covered!
          </p>
          <a class="button button-primary" href="mailto:hello@w4lkies.com?subject=Book a Bespoke Service!">Book now!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <h1>Our Team</h1>

    <div class="row">
      <div class="six columns">
        <img src="/static/img/profile-sophia.jpg" alt="Founder Profile Picture" class="profile">
        <br>
        <h2>Sophia Lewis</h2>
        <h3>Founder</h3>
        <br>
        <p>As the founder of W4lkies, a premier dog walking business in London W4, I bring a wealth of experience in the pet care industry. With a successful track record of establishing a dog walking business in Edinburgh, Scotland, I have honed my skills in providing top-notch care for furry companions. Prior to founding W4lkies, I worked as a receptionist at a veterinary clinic in Shepherd's Bush, London, where I gained valuable insights into animal care and welfare. Combining my passion for dogs with my professional expertise, I am dedicated to ensuring the well-being and happiness of every canine client. W4lkies is committed to providing reliable and loving dog walking services in the vibrant community of London W4. Let us take your furry friend on a safe and enjoyable adventure while you're away. Your pet's happiness is our top priority!</p>
      </div>
      <div class="six columns">
        <img src="/static/img/profile-sara.jpg" alt="Dog Walker Profile Picture" class="profile">
        <br>
        <h2>Sara Kiepura</h2>
        <h3>Dog Walker</h3>
        <br>
        <p>
         Growing up on a farm in Poland surrounded by various animals, I have always had a deep connection with pets. From chickens, pigs, horses, and cows to cats and dogs, caring for animals has been a passion of mine since childhood. After moving to Italy as a teenager, I rescued an abandoned dog and welcomed many cats into our countryside home. Now based in London for the past 10 years, I have transitioned from a career in hospitality to pursue my love for dogs. As a dedicated animal lover, I am excited to devote my time and affection to our canine companions. In my free time, I enjoy traveling, exploring new places, and taking long walks in nature.
        </p>
      </div>
    </div>

    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h1>Our Dogs</h1>

      <div class="row">
        <div class="twelve columns">
          <p>Here's a small selection of some of the dogs we currently care for with testimonials from their owners!</p>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="four columns">
          <img class="gallery" src="/static/img/dogs/rocky-01.jpg" alt="Dog Gallery Image">
          <br>
          <br>
          <h2>Rocky</h2>
          <!-- <br> -->
          <!-- <h3>Jack Russell</h3> -->
          <span style="font-size: xxx-large;">“</span>
          <p>
          I can't say enough great things about Sophia and her excellent dog walking services. From the first time I met her, it was abundantly clear that Sophia is a true dog lover and has a natural rapport with furry friends of all breeds and sizes.  What sets Sophia apart is her incredible passion, patience, and attentiveness when it comes to caring for dogs. She doesn't just walk them - she provides excellent exercise tailored to each dog's unique needs and energy levels.</p>
        </div>
        <div class="four columns">
          <img class="gallery"  src="/static/img/dogs/simon-01.jpg" alt="Dog Gallery Image">
          <br>
          <br>
          <h2>Simon</h2>
          <!-- <br> -->
          <!-- <i>Miniature Schnauzer</i> -->
          <span style="font-size: xxx-large;">“</span>
          <p>Sophia has been walking Simon, my miniature Schnauzer, for a couple months now and I am really happy with her. She is on time, reliable and very good with Simon. She clearly loves dogs and mine loves her a lot. He is always very happy to see her and comes back tired and having had a lovely adventure. I can't recommend W4lkies highly enough.</p>
        </div>
        <div class="four columns">
          <img class="gallery" src="/static/img/dog-hugo.png" alt="Dog Gallery Image">
          <br>
          <br>
          <h2>Hugo</h2>
          <!-- <br> -->
          <!-- <i>Jack Russell</i> -->
          <span style="font-size: xxx-large;">“</span>
          <p>We are extremely lucky to have found Sophia - she is friendly, trustworthy, and really cares about our dog Hugo💕 Would highly recommend to anyone looking for a dog walker!</p>
        </div>
      </div>

    </div>
  </div>

  <div class="section values">
    <div class="container">
      <h1>Get in Touch</h1>
      <div class="row">
        <div class="twelve columns">
          <a href="mailto:hello@w4lkies.com?subject=Book a Dog Walk">Contact us</a> by email to book your free meet-and-greet with no obligations today!
        </div>
      </div>
      <br>
      <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39750.19489751893!2d-0.30033214789370427!3d51.48776203564943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760dd896754399%3A0x9f2dfccacd81169!2sLondon%20W4!5e0!3m2!1sen!2suk!4v1683580854437!5m2!1sen!2suk" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>


      <footer>
        <div class="container" style="text-align:center;">
        <br>
        <div class="row">
          <div class="twelve columns">
            © 2024 London W4lkies Ltd. All rights reserved.
            <br>
            <br>
          </div> 
        </div> 
        <div class="row">
          <div class="four columns">
            <h4>Contact</h4>
            E-mail: <a href="mailto:hello@w4lkies.com">hello@w4lkies.com</a>
            <br>
            Phone: <a href="tel:{{ config['WEBSITE_TELEPHONE'] }}">{{ config["WEBSITE_TELEPHONE"] }}</a>
            <br>
          </div> 
          <div class="four columns">
            <h4>Boring</h4>
            <ul>
              <li>Legal: <a href="{{ url_for('legal_bp.get') }}">Privacy & Cookies</a></li>
              <li>Site Map: <a href="{{ url_for('index_bp.sitemap') }}">Our site map</a></li>
            </ul>
          </div>
          <div class="four columns">
              <h4>Social</h4>
              <ul>
                <li>Instagram: <a href="https://www.instagram.com/w4lkies/" target="_blank">@w4lkies</a></li>
                <li>Nostr: Coming soon™</li>
                <li>Github: <a href="https://github.com/ajrlewis/w4lkies_app" target="_blank">w4lkies_app</a></li>
              </ul>
          </div> 
        </div> 
        <br></div>
      </footer>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>