{% extends "dashboard/base.html" %}
{% set active_page = "dog" %}

{% block content %}

<style type="text/css">
  input[type="checkbox"] {
    display: inline !important;
  }
</style>

<div class="dashboard">

  <div class="container">
    <br>
    <div class="row">
      <div class="twelve columns">
        <h1>{{ dog.name }}</h1>
      </div>
    </div>
  </div>

  <div class="container">
    {% if current_user.is_admin %}  
    <form action="{{ url_for('dog_bp.update', dog_id=dog.id) }}" method="POST" enctype="multipart/form-data">  
      {{ dog_form.csrf_token }}
      <div class="row">
        <div class="four columns">
          {{ dog_form.name.label() }}
          {{ dog_form.name(class_="u-full-width") }}
        </div>
        <div class="four columns">
          {{ dog_form.date_of_birth.label() }}
          {{ dog_form.date_of_birth(class_="u-full-width") }}
        </div>
        <div class="four columns">
          {{ dog_form.breed.label() }}
          {{ dog_form.breed(class_="u-full-width") }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="three columns">
          {{ dog_form.is_allowed_treats.label }}
          {{ dog_form.is_allowed_treats }}
        </div>
        <div class="three columns">
          {{ dog_form.is_allowed_off_the_lead.label }} 
          {{ dog_form.is_allowed_off_the_lead }}
        </div>
        <div class="three columns">
          {{ dog_form.is_allowed_on_social_media.label }} 
          {{ dog_form.is_allowed_on_social_media }}
        </div>
        <div class="three columns">
          {{ dog_form.is_neutered_or_spayed.label }} 
          {{ dog_form.is_neutered_or_spayed }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="twelve columns">
          {{ dog_form.behavioral_issues.label() }}
          {{ dog_form.behavioral_issues(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          {{ dog_form.medical_needs.label() }}
          {{ dog_form.medical_needs(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          {{ dog_form.customer_id.label() }}
          {{ dog_form.customer_id(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          {{ dog_form.vet_id.label() }}
          {{ dog_form.vet_id(class_="u-full-width") }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="six columns u-full-width">
          <button type="submit">
            Update
          </button>
        </div>
        <div class="six columns u-full-width">
          <button onclick="window.location.href='{{ url_for('dog_bp.get_all') }}'">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}  
</div>

{% endblock content %}
