{% set active_page = "invoice" %}
{% if invoice %}
  {% set content_header = "Invoice " + invoice.id | string %}
  {% set form_action = url_for('invoice_bp.update', invoice_id=invoice.id) %}
  {% set form_submit = "Update" %}
{% else %}
  {% set content_header = "Invoices" %}
  {% set form_action = url_for('invoice_bp.add') %}
  {% set form_submit = "Add" %}
{% endif %}

{% extends "dashboard/base.html" %}

{% block content %}
<div class="dashboard">

  <div class="container">
    <br>
    <div class="row">
      <div class="twelve columns">
        <h1>{{ content_header }}</h1>
      </div>
    </div>
  </div>

  <!-- Add or edit booking form -->
  <div class="container"> 
    <form action="{{ form_action }}" method="POST">
      {{ invoice_form.csrf_token }}
      <div class="row">
        <div class="twelve columns">
          {{ invoice_form.customer_id.label() }}
          {{ invoice_form.customer_id(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          {{ invoice_form.start_date.label() }}
          {{ invoice_form.start_date(class_="u-full-width") }}
        </div>
        <div class="six columns">
          {{ invoice_form.end_date.label() }}
          {{ invoice_form.end_date(class_="u-full-width") }}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <button type="submit">
            {{ form_submit }}
          </button>
        </div>
      </div>
    </form>
  {% if invoice %}
    <button onclick="window.location.href='{{ url_for('booking_bp.get') }}'" class="form-button">Cancel</button>
  {% endif %}
  </div>
</div>

<div class="team">
  {% if not invoice %}
    <br>
    {% for invoice in invoices %}
      <div class="container">
        <h2>Invoice #{{ invoice.invoice_number }}</h2>
        <h3>{{ invoice.start_date }} - {{ invoice.end_date }} ({{ "£%0.2f" | format(invoice.total_price | float) }})</h3>
        {% if invoice.bookings and invoice.bookings[0].customer %}
          <!-- <h4>{{ invoice.bookings[0].customer.name }}</h4> -->
          <h4>{{ invoice.customer.name }}</h4>
        {% else %}
          <h4>-</h4>
        {% endif %}
        <h4>Issued on: {{ invoice.date_issued }}</h4>
      </div>
      <div class="container">
        <form action="{{ url_for('invoice_bp.download', invoice_id=invoice.id) }}" method="GET" style="display:inline;">
          <button type="submit">Download</button>
        </form>
        <form
          action="{{ url_for('invoice_bp.delete', invoice_id=invoice.id) }}"
          method="POST"
          onsubmit="return confirm('Are you sure you want to delete this invoice?');"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button type="submit">Delete</button>
        </form>
      </div>
      <br>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}