{% set active_page = "about" %}
{% extends "public/base.html" %}

{% block content %}
<div class="container content">

  <div class="content-header">
    <div class="row">
      <div class="twelve columns">
        <h2>About</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
        <img class="rounded-image" src="{{ url_for('static', filename='img/about.jpg') }}" alt="Profile Picture">
    </div>
  </div>

  <br>

  <div class="shiftable panel">
    <div class="row">
      <div class="twelve columns">
        Hi there, my name is Sophia and I'm the owner of <b>w4lkies</b>, a dog walking business based in <b>Chiswick, W4, London</b>.
        I absolutely love dogs and have a lot of experience working with them.
        I'm passionate about providing a safe and enjoyable experience for every dog in my care.
      </div>
    </div>
  </div>

  <div class="shiftable panel">
    <div class="row">
      <div class="twelve columns">
        I provide services from <b>Monday to Friday</b>, with two time slots available: <b>AM (8am to 12pm) and PM (12pm to 6pm)</b>.
        I aim to schedule your preferred time within a <b>one-hour range of your chosen slot</b>.
      </div>
    </div>
  </div>

  {% for service in services %}
    <div class="shiftable panel">
      <div class="row">
        <div class="twelve columns">
          <h2>{{ service.name }}</h2>
          <h3>
            {{ "£%0.2f" | format(service.price | float) }}
            {% if service.duration %}/ {{ service.duration | int }} mins{% endif%}
          </h3>
          <ul>
            {% for item in service.description.split(".") %}
            {% if item %}
              <li>{{ item }}</li>
            {% endif%}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="shiftable panel">
    <div class="row">
      <div class="twelve columns">
        <h2>Bespoke</h2>
        <h3>Flexible pricing and duration based on your needs</h3>
        <ul>
          <li>
            I offer bespoke services for your dog(s) to suit your needs.
          </li>
          <li>
            <a href="mailto:{{ config['MAIL_USERNAME'] }}?subject=Hello!">Get in touch</a> to discuss available options.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="shiftable panel">
    <div class="row">
      <div class="twelve columns">
        As a professional dog walker, I understand the importance of providing a <b>safe and enjoyable experience</b> for your furry friend.
        That's why I am <b>fully insured</b> for your peace of mind.
        In addition, I am currently studying for a <b>diploma in Canine Behaviour</b>, which allows me to better understand your dog's needs and provide tailored services.
        If you're interested in learning more about my services or booking a dog walk, please don't hesitate to <a href="mailto:{{ config['MAIL_USERNAME'] }}?subject=Hello!">get in touch</a>!
      </div>
    </div>
  </div>

</div>
{% endblock content %}
