<div class="container">
  <div class="row">
    <div class="twelve columns">
      <a href="{{ url_for('about_bp.get') }}" class="{% if active_page == 'about' %}active{% endif %}">
        <i class="fa-solid fa-info"></i>&nbsp;About
      </a>
      <a href="{{ url_for('gallery_bp.get') }}" class="{% if active_page == 'gallery' %}active{% endif %}">
        <i class="fa-solid fa-camera"></i>&nbsp;Gallery
      </a>
      <a href="{{ url_for('contact_bp.get') }}" class="{% if active_page == 'contact' %}active{% endif %}">
        <i class="fa-solid fa-comment"></i>&nbsp;Contact
      </a>
      <a href="{{ url_for('download_bp.get') }}" class="{% if active_page == 'download' %}active{% endif %}">
        <i class="fa-solid fa-download"></i>&nbsp;Download
      </a>
      <!-- <a href="{{ url_for('sign_up_bp.get') }}" class="{% if active_page == 'sign_up' %}active{% endif %}"> -->
        <!-- <i class="fa-solid fa-file"></i>&nbsp;Sign Up -->
      <!-- </a> -->
      <!-- <a href="{{ url_for('pay_bp.get') }}" class="{% if active_page == 'pay' %}active{% endif %}"> -->
        <!-- <i class="fab fa-btc"></i>&nbsp;Pay -->
      <!-- </a> -->
      <a href="{{ url_for('legal_bp.get') }}" class="{% if active_page == 'legal' %}active{% endif %}">
        <i class="fa-solid fa-legal"></i>&nbsp;Legal
      </a>
    </div>
  </div>
</div>
