{% extends "email/base.html" %}

{% block content %}
  <br>
  This is just a friendly email to let you know that your account was successfully signed into.
  <br>
  <table>
    <tr>
      <td>
        <p class="header">User Name:</p>
        <p class="content">{{ user.name }}</p>
        <p class="header">User Email:</p>
        <p class="content">{{ user.email }}</p>
        <p class="header">Sign In At:</p>
        <p class="content">{{ now }}</p>
        <p class="header">IP Address:</p>
        <p class="content">{{ ip_address }}</p>
        <p class="header">User Agent:</p>
        <p class="content">{{ user_agent }}</p>
      </td>
    </tr>
  </table>
{% endblock content %}
