{% extends "email/base.html" %}

{% block content %}
  <h2>👤📋 Customer Information 👤📋</h2>
  <table>
    <tr>
      <td>
        <p class="email-table-row-header">Name:</p>
        <p class="email-table-row-content">{{ data["customer_name"] }}</p>
        <p class="email-table-row-header">Phone:</p>
        <p class="email-table-row-content">{{ data["customer_phone"] }}</p>
        <p class="email-table-row-header">Email:</p>
        <p class="email-table-row-content"><a href="mailto:{{ data['customer_email'] }}">{{ data["customer_email"] }}</a></p>
        <p class="email-table-row-header">Emergency Contact Name:</p>
        <p class="email-table-row-content">{{ data["customer_emergency_contact_name"] }}</p>
        <p class="email-table-row-header">Emergency Contact Phone:</p>
        <p class="email-table-row-content">{{ data["customer_emergency_contact_phone"] }}</p>
      </td>
    </tr>
  </table>
  <h2>🐾🐶 Dog Information 🐾🐶</h2>
  <table>
    <tr>
      <td>
        <p class="email-table-row-header">Name:</p>
        <p class="email-table-row-content">{{ data["dog_name"] }}</p>
        <p class="email-table-row-header">Breed:</p>
        <p class="email-table-row-content">{{ data["dog_breed_name"] }}</p>
        <p class="email-table-row-header">Date of Birth:</p>
        <p class="email-table-row-content">{{ data["dog_date_of_birth"] }}</p>
        <p class="email-table-row-header">Vet:</p>
        <p class="email-table-row-content">{{ data["vet_name"] }}</p>
        <p class="email-table-row-header">Is allowed treats?</p>
        <p class="email-table-row-content">{{ data["dog_is_allowed_treats"] }}</p>
        <p class="email-table-row-header">Is allowed off the lead?</p>
        <p class="email-table-row-content">{{ data["dog_is_allowed_off_the_lead"] }}</p>
        <p class="email-table-row-header">Is allowed on Instagram (@w4lkies) or this website (w4lkies.com)?</p>
        <p class="email-table-row-content">{{ data["dog_is_allowed_on_social_media"] }}</p>
        <p class="email-table-row-header">Is neutered or spayed?</p>
        <p class="email-table-row-content">{{ data["dog_is_neutered_or_spayed"] }}</p>
        <p class="email-table-row-header">Behavioral Issues:</p>
        <p class="email-table-row-content">{{ data["dog_behavioral_issues"] }}</p>
        <p class="email-table-row-header">Medical Needs:</p>
        <p class="email-table-row-content">{{ data["dog_medical_needs"] }}</p>
      </td>
    </tr>
  </table>
{% endblock content %}
